---
import Layout from "../layouts/Layout.astro";
import About from "../components/About.astro";
import HeaderImage from "../components/HeaderImage.astro";
import Gallery from "../components/Gallery.astro";
import Contact from "../components/Contact.astro";
import Location from "../components/Location.astro";
import Footer from "../components/Footer.astro";
---

<Layout
  title="REIP - Respuesta de emergencias de pereira - Servicio de ambulancias"
  description="Servicios de ambulancias en pereira"
>
  <main>
    <HeaderImage />
    <About />
    <Gallery />
    <Contact />
    <Location />
  </main>
  <Footer />
</Layout>

<style></style>
