---
import BentoItem from "./BentoItem.astro";
---

<section
  class="text-pretty px-20 max-w-[1400px] text-xl text-left mx-auto my-6"
>
  <h2
    class="text-5xl font-bold text-center text-wrap mx-auto mb-10 tracking-wide"
  >
    Quiénes somos
    <div class="mx-auto p-20 text-lg">
      <img
        src="/ambulance.webp"
        alt="Ambulancia"
        class="w-full rounded-2xl max-w-[500px] m-auto mb-8"
      />
      <p>
        Nosotros, Respuesta de Emergencia Inmediata Pereira, situado en la
        cuidad de Pereira es un reputado y comprometido proveedor de
        ambulancias. Nos comprometemos a proporcionar un servicio excelente y de
        cuidados críticos en emergencias. Nos reconocen para nuestro cuidado
        apasionado, tomamos para mejorar estándar en transporte crítico del
        cuidado así como ayudante seguro y cuidadoso en situaciones de la no
        emergencia. Nos sentimos honrados y privilegiados de que nuestros
        clientes preexistentes tengan comentarios positivos hacia nosotros.
      </p>
    </div>
  </h2>
</section>
