<div class="w-full relative">
  <img
    src="/header.png"
    alt="hero"
    class="w-full h-auto object-cover object-top animate-duration-1000 animate-fade"
    style="clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 50% 100%, 0 85%);"
  />
  <img
    src="/header.png"
    alt="hero"
    class="absolute -bottom-48 blur-3xl -z-40"
  />
</div>
