---
import Header from "../components/Header.astro";
// Supports weights 100-900
import "@fontsource-variable/onest";

interface Props {
  title: string;
  description: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
<style is:global>
  html {
    font-family: "Onest Variable", system-ui, sans-serif;
    background: #ffffff;
  }
  p {
    color: rgba(0, 0, 0, 0.8);
    line-height: 1.4;
    margin-bottom: 1em;
    font-weight: 100;
    font-size: 1em;
    letter-spacing: 0.5px;
  }

  p strong {
    color: black;
    font-weight: 700;
  }
</style>
